.card{
  border: solid #aaa 1px;
  padding: 12px;
  border-radius: 8px;
  min-height: 150px;
  min-width: 300px;
  transition: 0.3s;

}
.card:hover {
 box-shadow: 0 0 15px 2px steelblue;
 

}

.card a {
  display: block;
  text-decoration: none;
  color: steelblue;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.card a h2 {
  color: #333;
}